#results-section {
    height: 60vh;
    margin-bottom: 30px;
    strong {
        color: #0984e3;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #fff;
        border-radius: 15px;
        padding: 10px 30px;
        display: block;
        width: fit-content;
        margin: auto;
    }
    h3, h5 {
        color: #777;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 15px;
        width: 90%;
        border-radius: 15px;
        margin: 15px auto;
        span {
            color: #0984e3;
            font-weight: bold;
        }
    }
}